.movieWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.movieWrapper button {
    background: none;
    color: white;
    border: none;
}

.movieItem {
    width: 240px;
    box-sizing: border-box;
    height: 360px;
    border-radius: 20px;
    background: rgba(173, 216, 230, 0.1);
    padding: 10px;
}

.imageBox {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.imageBox img {
    border-radius: 5px;
}

.titleBox {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleBox h3 {
    color: mediumpurple;
    text-align: center;
    margin: 10px;
}

.overviewBox {
    height: 100px;
    overflow: hidden;
}

.overviewBox p {
    font-size: 14px;
    margin: 5px 0;
}

.genresListItem p {
    font-weight: bold;
    margin: 10px 0;
}

.btnDetails {
    display: flex;
    justify-content: center;
}

.btnDetails button {
    padding: 5px 30px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: mediumpurple;
    font-size: medium;
    font-weight: bold;
}

.btnDetails button > a {
    text-decoration: none;
    color: white;
}