.genresWrapper {
    display: flex;
    justify-content: center;
    width: 90%;
    background: rgba(173, 216, 230, 0.1);
    border-radius: 20px;
}

.genresBar {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    height: 200px;
    /*box-sizing: content-box;*/
}

.genreStyle {
    width: 100px;
    height: 40px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    box-shadow: rgba(173, 216, 230, 0.1) 5px 5px 5px;
}

.genreStyle a {
    text-decoration: none;
    color: lightblue;
}

.genreStyle a:hover {
    color: mediumpurple;
}

.genreInfo {
    background: white;
    margin: 5px;
}